---
import Layout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: '物流配送解决方案',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    tagline="点薪云·物流配送"
    title="点薪云一站式赋能让物流配送更高效、更省心"
    subtitle="我们为物流企业量身定制灵活用工方案，助力降本增效、合规经营"
    actions={[
      { variant: 'primary', text: '智能结算系统', href: 'https://www.dianxin.love', icon: 'tabler:shield-cog' },
      { text: '灵工签约系统', href: 'https://demo.dianxin.love/services' },
    ]}
    image={{
      src: 'https://dx.imgix.net/wuliu.jpg',
      alt: '物流配送',
    }}
  />
  <!-- Features2 Widget ************** -->

  <Features2
    title="我们能提供什么?"
    subtitle="服务顺丰同城、达达、美团等头部企业，年发薪超30万人次，懂物流更懂您。"
    items={[
      {
        title: '弹性用工，快速响应业务需求',
        description:
          '众包+外包：通过众包平台快速招募骑手，按需匹配运力，旺季灵活增员、淡季零负担。<br>支持与美团、达达、顺丰同城等主流配送平台无缝对接，资源整合更高效。',
        icon: 'flat-color-icons:document',
      },
      {
        title: '成本直降40%+，合规更安心',
        description:
          '关系转变商业合作线上1秒签署承揽协议，法律效力与安全双重保障更合规安心，',
        icon: 'flat-color-icons:template',
      },
      {
        title: '全流程数字化管理，省心省力',
        description:
          '银企直连代付，佣金当日到账，支持批量操作与实时查询数据成本报表，助力科学决策',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
  />
</Layout>
