---
import Layout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: '物流配送解决方案',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    tagline="点薪云·物流配送"
    title="点薪云一站式赋能让物流配送更高效、更省心"
    subtitle="我们为物流企业量身定制灵活用工方案，助力降本增效、合规经营"
    actions={[
      { variant: 'primary', text: '智能结算系统', href: 'https://www.dianxin.love', icon: 'tabler:shield-cog' },
      { text: '灵工签约系统', href: 'https://demo.dianxin.love/services' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1597423498219-04418210827d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'Magnet attracting screws. Lead generation landing page demo',
    }}
  />
  <!-- Features2 Widget ************** -->

  <Features2
    title="What services do we provide?"
    subtitle="We offer a wide range of website templates that suit various industries and purposes such as business, portfolio, e-commerce, blog, etc."
    items={[
      {
        title: '弹性用工，快速响应业务需求',
        description:
          '众包+外包：通过众包平台快速招募骑手，按需匹配运力，旺季灵活增员、淡季零负担。<br>支持与美团、达达、顺丰同城等主流配送平台无缝对接，资源整合更高效。',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Demo and Previews',
        description:
          'Provide interactive demos and previews that allow customers to see how their chosen template will look and function before making a purchase.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Technical Support',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
  />
</Layout>
