---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: '关于点薪',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="关于点薪"
    image={{
      src: 'https://dx.imgix.net/beijing.png',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      点薪网络 <br />
      <span class="text-accent dark:text-white highlight"> 灵活用工一站式解决方案领航者</span>
    </Fragment>

    <Fragment slot="subtitle">
      点薪灵工诞生于数字经济蓬勃发展的时代浪潮中，致力于为企业提供高效、合规、智能的灵活用工服务，助力企业突破传统用工瓶颈，实现降本增效与可持续发展。
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="区域统计"
    stats={[
      { title: '办公地', amount: '2' },
      { title: '雇员', amount: '25' },
      { title: '客户', amount: '3288' },
      { title: '奖项', amount: '4' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="公司简介"
    subtitle="点薪灵工总部位于安徽，业务覆盖上海、安徽、湖北、江西等全国多个省市，年服务客户超2000家，累计为10万+劳动者提供薪酬服务。凭借在物流、财税、金融等领域的资深专家团队。"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: '创新突破',
        description:
          '引领行业变革，探索灵活用工新模式',
        icon: 'tabler:template',
      },
      {
        title: '专业担当',
        description:
          '资深团队护航，确保服务合规高效',
        icon: 'tabler:template',
      },
      {
        title: '诚信敬业',
        description:
          '以客户需求为中心，构建长期信赖合作',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="为何选择点薪？"
    subtitle="直击企业痛点,全链路服务"
    items={[
      {
        title: '成本优化',
        description:
          '通过灵活用工模式，综合成本降低近50%',
      },
      {
        title: '财税合规',
        description:
          '全流程票据合法化，助力企业',
      },
      {
        title: '赋能企业',
        description:
          '实现合同线上批量签署，安全防篡改，资金秒级到账，专属客服全程响应',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="我们的位置"
    tagline="找到我们"
    columns={4}
    items={[
      {
        title: '运营中心',
        description: '安徽省合肥市蜀山区南七街道望江西路华润五彩国际1303室',
      },
      {
        title: '业务分部',
        description: '中国（四川）自由贸易试验区成都高新区吉庆三路333号',
      },
  />

  <!-- Features2 Widget ************** -->

<Features2
  title="我们的位置"
  tagline="找到我们"
  columns={4}
  items={[
    {
      title: '运营中心',
      description: '安徽省合肥市蜀山区南七街道望江西路华润五彩国际1303室',
    },
    {
      title: '业务分部',
      description: '中国（四川）自由贸易试验区成都高新区吉庆三路333号',
    },
  ]} />  <!-- Corrected closing tag -->
</Layout>
