---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: '关于点薪',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="关于点薪"
    image={{
      src: 'https://dx.imgix.net/beijing.png',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      点薪网络 <br />
      <span class="text-accent dark:text-white highlight"> 灵活用工一站式解决方案领航者</span>
    </Fragment>

    <Fragment slot="subtitle">
      点薪灵工诞生于数字经济蓬勃发展的时代浪潮中，致力于为企业提供高效、合规、智能的灵活用工服务。作为新经济领域的创新实践者，我们以深厚的行业积淀与专业服务，助力企业突破传统用工瓶颈，实现降本增效与可持续发展。
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="区域统计"
    stats={[
      { title: '办公地', amount: '2' },
      { title: '雇员', amount: '25' },
      { title: '客户', amount: '3288' },
      { title: '奖项', amount: '4' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="公司简介"
    subtitle="点薪灵工总部位于安徽，业务覆盖上海、安徽、湖北、江西等全国多个省市，年服务客户超2000家，累计为10万+劳动者提供薪酬服务。凭借在物流、财税、金融等领域的资深专家团队，我们打造了标准化、全链条的灵活用工解决方案，赢得了客户与行业的高度认可。"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: '创新突破',
        description:
          '引领行业变革，探索灵活用工新模式',
        icon: 'tabler:template',
      },
      {
        title: '专业担当',
        description:
          '资深团队护航，确保服务合规高效',
        icon: 'tabler:template',
      },
      {
        title: '诚信敬业',
        description:
          '以客户需求为中心，构建长期信赖合作',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->



  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo. Ut eleifend luctus condimentum.',
      },
      {
        title: 'Constant Improvement',
        description:
          'Phasellus laoreet fermentum venenatis. Vivamus dapibus pulvinar arcu eget mattis. Fusce eget mauris leo.',
      },
      {
        title: 'Ethical Practices',
        description:
          'Vestibulum imperdiet libero et lectus molestie, et maximus augue porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'EE.UU',
        description: '1234 Lorem Ipsum St, 12345, Miami',
      },
      {
        title: 'Spain',
        description: '5678 Lorem Ipsum St, 56789, Madrid',
      },
      {
        title: 'Australia',
        description: '9012 Lorem Ipsum St, 90123, Sydney',
      },
      {
        title: 'Brazil',
        description: '3456 Lorem Ipsum St, 34567, São Paulo',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
