---
import { SITE } from 'astrowind:config';
---
<a href="/" class="flex items-center">
  <img
    src="https://dx.imgix.net/logo.png"
    alt="{SITE?.name} "
    class="self-center h-8 md:h-10 w-auto dark:hidden"
  />
  <img
    src="https://dx.imgix.net/logo.png"
    alt="{SITE?.name}"
    class="self-center h-8 md:h-10 w-auto hidden dark:block"
  />
</a>